<a href="https://colab.research.google.com/github/ysooch0819/AI16-Projects/blob/main/s2%20project_eda%EC%A4%80%EB%B9%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import pandas as pd
import json

js1 = {
    'augments': ['TFT6_Augment_JeweledLotus', 'TFT7_Augment_PandorasBench', 'TFT7_Augment_LagoonEmblem'],
    'gold_left': 50,
    'last_round': 38,
    'level' : 8,
    'placement': 2,
    'players_eliminated': 2,
    'time_eliminated': 2311.573,
    'total_damage_to_players': 183,
    'traits': [{'name': 'Set7_Assassin', 'num_units': 1, 'style': 0, 'tier_current': 0, 'tier_total': 3}, {'name': 'Set7_Astral', 'num_units': 3, 'style': 1, 'tier_current': 1, 'tier_total': 3}, {'name': 'Set7_Bard', 'num_units': 1, 'style': 3, 'tier_current': 1, 'tier_total': 1}, {'name': 'Set7_Bruiser', 'num_units': 2, 'style': 1, 'tier_current': 1, 'tier_total': 4}, {'name': 'Set7_Dragon', 'num_units': 1, 'style': 1, 'tier_current': 1, 'tier_total': 6}, {'name': 'Set7_Guild', 'num_units': 1, 'style': 1, 'tier_current': 1, 'tier_total': 8}, {'name': 'Set7_Lagoon', 'num_units': 6, 'style': 2, 'tier_current': 2, 'tier_total': 4}, {'name': 'Set7_Mage', 'num_units': 5, 'style': 2, 'tier_current': 2, 'tier_total': 4}, {'name': 'Set7_Mystic', 'num_units': 1, 'style': 0, 'tier_current': 0, 'tier_total': 4}, {'name': 'Set7_Whispers', 'num_units': 1, 'style': 0, 'tier_current': 0, 'tier_total': 3}],
    'units': [{'character_id': 'TFT7_Vladimir', 'itemNames': ['TFT_Item_TitanicHydra'], 'items': [27], 'name': 'Vladimir', 'rarity': 0, 'tier': 2}, {'character_id': 'TFT7_Skarner', 'itemNames': [], 'items': [], 'name': 'Skarner', 'rarity': 0, 'tier': 2}, {'character_id': 'TFT7_Taliyah', 'itemNames': [], 'items': [], 'name': '', 'rarity': 0, 'tier': 2}, {'character_id': 'TFT7_Lux', 'itemNames': ['TFT_Item_StatikkShiv', 'TFT_Item_Chalice', 'TFT_Item_Shroud'], 'items': [24, 46, 59], 'name': '', 'rarity': 1, 'tier': 2}, {'character_id': 'TFT7_Sylas', 'itemNames': ['TFT7_Item_LagoonEmblemItem', 'TFT_Item_IonicSpark', 'TFT_Item_GargoyleStoneplate'], 'items': [2100, 36, 56], 'name': '', 'rarity': 2, 'tier': 2}, {'character_id': 'TFT7_Nilah', 'itemNames': ['TFT_Item_UnstableConcoction', 'TFT_Item_GuinsoosRageblade', 'TFT_Item_LastWhisper'], 'items': [49, 23, 29], 'name': '', 'rarity': 4, 'tier': 3}, {'character_id': 'TFT7_AquaticDragon', 'itemNames': ['TFT_Item_SeraphsEmbrace', 'TFT_Item_HextechGunblade', 'TFT_Item_InfinityEdge'], 'items': [44, 13, 19], 'name': '', 'rarity': 5, 'tier': 3}, {'character_id': 'TFT7_Bard', 'itemNames': ['TFT_Item_RecurveBow'], 'items': [2], 'name': '', 'rarity': 6, 'tier': 2}]
}

In [99]:
# key값 목록
keys = []
for list in js1:
    keys.append(list)

In [251]:
df = pd.DataFrame(columns = keys)

In [252]:
df = df.append(js1, ignore_index=True)

In [253]:
df

,augments,gold_left,last_round,level,placement,players_eliminated,time_eliminated,total_damage_to_players,traits,units
0,"[TFT6_Augment_JeweledLotus, TFT7_Augment_Pando...",50,38,8,2,2,2311.573,183,"[{'name': 'Set7_Assassin', 'num_units': 1, 'st...","[{'character_id': 'TFT7_Vladimir', 'itemNames'..."

In [254]:
keys[0]

'augments'

In [255]:
augments = []
for list in js1.get(keys[0]):
    augments.append(list)

In [256]:
augments

['TFT6_Augment_JeweledLotus',
 'TFT7_Augment_PandorasBench',
 'TFT7_Augment_LagoonEmblem']

In [257]:
# 유닛에 착용시킨 아이템
for list in js1.get('units'):
    if list.get('itemNames') != []:
        print(list.get('itemNames'))

['TFT_Item_TitanicHydra']
['TFT_Item_StatikkShiv', 'TFT_Item_Chalice', 'TFT_Item_Shroud']
['TFT7_Item_LagoonEmblemItem', 'TFT_Item_IonicSpark', 'TFT_Item_GargoyleStoneplate']
['TFT_Item_UnstableConcoction', 'TFT_Item_GuinsoosRageblade', 'TFT_Item_LastWhisper']
['TFT_Item_SeraphsEmbrace', 'TFT_Item_HextechGunblade', 'TFT_Item_InfinityEdge']
['TFT_Item_RecurveBow']

In [258]:
# 사용한 시너지조합 표기
for list in js1.get('traits'):
    # Current style for this trait. (0 = No style, 1 = Bronze, 2 = Silver, 3 = Gold, 4 = Chromatic)
    if list.get('style') >0:
        if list.get('style')==1: 
           # Current active tier for the trait.
           print('Bronze\t', list.get('name').replace('Set7_', ''),  ': ', list.get('num_units'))
        elif list.get('style')==2:
            print('Silver\t', list.get('name').replace('Set7_', ''),  ': ', list.get('num_units'))
        elif list.get('style')==3:
            print('Gold\t', list.get('name').replace('Set7_', ''),  ': ', list.get('num_units'))
        else:
            print('Chromatic\t', list.get('name').replace('Set7_', ''), ': ', list.get('num_units'))

Bronze	 Astral :  3
Gold	 Bard :  1
Bronze	 Bruiser :  2
Bronze	 Dragon :  1
Bronze	 Guild :  1
Silver	 Lagoon :  6
Silver	 Mage :  5

In [259]:
augments = js1.get('augments')
result_list = []
for i in augments:
    temp = i.split('_')[-1]
    result_list.append(temp)
print(result_list)

['JeweledLotus', 'PandorasBench', 'LagoonEmblem']

In [260]:
pd.Series(result_list)

0     JeweledLotus
1    PandorasBench
2     LagoonEmblem
dtype: object

In [261]:
rounds = ['augment1', 'augment2', 'augment3']
ags = pd.Series(result_list, index=rounds)
ags_df = pd.DataFrame(ags).T

In [262]:
# 선택한 증강체 표기
ags_df

       augment1       augment2      augment3
0  JeweledLotus  PandorasBench  LagoonEmblem

In [264]:
df = df.merge(ags_df, left_index=True, right_index=True)

In [266]:
df.drop(columns=['augments', 'players_eliminated', 'time_eliminated', 'last_round'], inplace=True)

In [267]:
df

,gold_left,level,placement,total_damage_to_players,traits,units,augment1,augment2,augment3
0,50,8,2,183,"[{'name': 'Set7_Assassin', 'num_units': 1, 'st...","[{'character_id': 'TFT7_Vladimir', 'itemNames'...",JeweledLotus,PandorasBench,LagoonEmblem

In [268]:
df = df[['augment1', 'augment2', 'augment3', 'level','gold_left', 'total_damage_to_players', 'traits', 'units', 'placement']]

In [269]:
df.rename(columns={
                   'total_damage_to_players': 'damage_to_players'}, inplace=True)

In [270]:
df

,augment1,augment2,augment3,level,gold_left,damage_to_players,traits,units,placement
0,JeweledLotus,PandorasBench,LagoonEmblem,8,50,183,"[{'name': 'Set7_Assassin', 'num_units': 1, 'st...","[{'character_id': 'TFT7_Vladimir', 'itemNames'...",2