<a href="https://colab.research.google.com/github/ysooch0819/AI16-Projects/blob/main/S3Project_make_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.8/dist-packages (2.9.5)

In [2]:
import pandas as pd
import psycopg2
import json

In [3]:
# 챌린저/그마 데이터 접속용
conn = psycopg2.connect(
    host='floppy.db.elephantsql.com',
    user='dnxuvido',
    password='wbCrbGaYSKPsSg-qCddu4aKGZxgAFWuz',
    database='dnxuvido'
)
cur = conn.cursor()

In [4]:
# 데이터 받아오기
cur.execute("SELECT * FROM chal_test")
chal_df = pd.DataFrame(cur.fetchall())
cur.execute("SELECT * FROM grandmaster_test")
gm_df = pd.DataFrame(cur.fetchall())

In [5]:
# 마스터 데이터 접속용
conn2 = psycopg2.connect(
    host='mahmud.db.elephantsql.com',
    user='ysgzfdtl',
    password='dJZXvOPOfXj6Z6kXcWYLzAj10-kUhrq4',
    database='ysgzfdtl'
)
cur2 = conn2.cursor()

In [6]:
cur2.execute("SELECT * FROM master_test")
master_df = pd.DataFrame(cur2.fetchall())

In [7]:
chal_df = chal_df.rename(columns={0:'index', 1:'augments', 2:'traits', 3:'units', 4:'level', 5:'placement', 6:'cost_sum', 7:'highCost_sum', 8:'highCost_ratio'}).set_index('index').reset_index().drop(columns=['index'])
gm_df = gm_df.rename(columns={0:'index', 1:'augments', 2:'traits', 3:'units', 4:'level', 5:'placement', 6:'cost_sum', 7:'highCost_sum', 8:'highCost_ratio'}).set_index('index').reset_index().drop(columns=['index'])
master_df = master_df.rename(columns={0:'index', 1:'augments', 2:'traits', 3:'units', 4:'level', 5:'placement', 6:'cost_sum', 7:'highCost_sum', 8:'highCost_ratio'}).set_index('index').reset_index().drop(columns=['index'])

In [8]:
chal_df.shape, gm_df.shape, master_df.shape

((27840, 8), (64000, 8), (57720, 8))

In [9]:
total_df = pd.concat([chal_df, gm_df, master_df], axis=0).reset_index().drop(columns='index')
total_df

,augments,traits,units,level,placement,cost_sum,highCost_sum,highCost_ratio
0,"['TFT7_Augment_BandOfThieves1', 'TFT6_Augment_...","[{'name': 'Set8_Admin', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Annie', 'itemNames': [...",8,2,86,29,0.337209
1,"['TFT6_Augment_Battlemage1', 'TFT6_Augment_Cel...","[{'name': 'Set8_AnimaSquad', 'num_units': 1, '...","[{'character_id': 'TFT8_Kayle', 'itemNames': [...",7,4,73,4,0.054795
2,"['TFT8_Augment_ADMINTrait', 'TFT7_Augment_Prep...","[{'name': 'Set8_Admin', 'num_units': 4, 'style...","[{'character_id': 'TFT8_Sylas', 'itemNames': [...",8,6,72,12,0.166667
3,"['TFT8_Augment_StarGuardianTrait', 'TFT6_Augme...","[{'name': 'Set8_Aegis', 'num_units': 2, 'style...","[{'character_id': 'TFT8_Lux', 'itemNames': [],...",8,8,50,34,0.680000
4,"['TFT7_Augment_AFK', 'TFT6_Augment_Featherweig...","[{'name': 'Set8_Ace', 'num_units': 1, 'style':...","[{'character_id': 'TFT8_Fiora', 'itemNames': [...",8,7,74,39,0.527027
...,...,...,...,...,...,...,...,...
149555,"['TFT8_Augment_BrawlerEmblem', 'TFT8_Augment_V...","[{'name': 'Set8_Admin', 'num_units': 2, 'style...","[{'character_id': 'TFT8_Blitzcrank', 'itemName...",7,8,35,8,0.228571
149556,"['TFT8_Augment_PranksterEmblem', 'TFT8_Augment...","[{'name': 'Set8_Aegis', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Yasuo', 'itemNames': [...",7,6,53,20,0.377358
149557,"['TFT6_Augment_CalculatedLoss', 'TFT8_Augment_...","[{'name': 'Set8_Brawler', 'num_units': 2, 'sty...","[{'character_id': 'TFT8_Gangplank', 'itemNames...",7,3,88,4,0.045455
149558,"['TFT6_Augment_LudensEcho2', 'TFT8_Augment_ViS...","[{'name': 'Set8_Admin', 'num_units': 2, 'style...","[{'character_id': 'TFT8_Vi', 'itemNames': ['TF...",8,1,114,36,0.315789
149559,"['TFT6_Augment_ThrillOfTheHunt2', 'TFT8_Augmen...","[{'name': 'Set8_Ace', 'num_units': 1, 'style':...","[{'character_id': 'TFT8_Vi', 'itemNames': [], ...",8,7,61,37,0.606557

In [10]:
total_df.to_csv('total_df.csv')

In [ ]:
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

total_df = pd.read_csv('total_df.csv')

# 중복 제거하여 모델링 학습용 userData 생성
userData = total_df.drop_duplicates().reset_index().drop(columns={'index'})
train, test = train_test_split(userData, test_size=0.1, stratify=userData['placement'],random_state=42)

print(train.shape, test.shape)

# 타겟과 특성 정돈
target = 'placement'
features = ['level', 'cost_sum', 'highCost_sum', 'highCost_ratio']

X_train = train[features]
y_train = train[target]

X_test = test[features]
y_test = test[target]

# 랜덤포레스트회귀 모델로 결정
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

# 모델 학습
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print('R2 score: ', r2_score(y_test, y_pred)) # r2 0.57.. 성능 안좋다

# 모델 피클링, 추후 flask에서 사용 예정
import pickle

with open('model.pkl', 'wb') as pickle_file:
    pickle.dump(model, pickle_file)